*.log

*.py[codt]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
product

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env
env*
venv

# intellij
*.ipr
*.iml
*.iws
.idea

bozor/settings/local.py
bozor/settings/production.py

# collect static output directory
bozor/assets/
bozor/static/
bozor/product/
product

.DS_Store

# node
node_modules/

# bower packages
bozor/assets-src/vendor/
.sass-cache/
